{% extends "mainapp/root.html"%}
{% load static %}

{% block content %}
    {% include "mainapp/includes/inc__menu.html" %}

    {% block css %}
        <link href="{% static 'styles/auth.css' %}" rel="stylesheet">
    {% endblock %}

    <div class="auth">
    <p><h1>Personal account</h1></p>
        <form class="sidebar">
            <hr>
            <cntr><img src="{% static 'img/def_avatar.png' %}" width="200" height="200"></cntr>
            <hr>
        </form>

        <form class="content" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change">
            <h2><a href="{% url 'authapp:users_profile' pk=request.user.pk %}">Просмотреть профиль</a></h2>
        </form>

        <hr>
        <h1><p> Список постов:</p></h1>
        <form>
        {% for post in request.user.post_set.all %}

            <h3 class="left"><p>{{ post }}</p></h3>
            <hr>
                <a href="{% url 'mainapp:post_update' pk=post.pk %}">Изменить</a>
                <a href="{% url 'mainapp:post_delete' pk=post.pk %}">Удалить</a>
        {% endfor %}
        </form>
    </div>
{% endblock %}