{% extends "mainapp/root.html"%}
{% load static %}

{% block content %}
    {% include "mainapp/includes/inc__menu.html" %}

    <div class="auth">
        <form>
            <h1><p>Пользователь: {{ object.username }}</p></h1>
            <h1><p>Имя: {{ object.first_name }}</p></h1>
            <h1><p>Фамилия: {{ object.last_name }}</p></h1>            
        </form>
        {% for post in object.post_set.all %}
            {% if post.is_active %}
                <cntr><a href="{% url 'mainapp:post' pk=post.pk %}"><p>{{ post }}</p></a></cntr>
                <hr>
            {% endif %}
        {% endfor %}
    </div>
    
{% endblock %}