{% extends "mainapp/root.html"%}
{% load static %}

{% block content %}
    {% include "mainapp/includes/inc__menu.html" %}

    <div class="auth">
        <div class="large">
            <hr>
            <h1><p>{{ object.name }}</p></h1>
                <cntr><img src="/media/{{ object.img }}" width="600px" alt="#"></p></cntr>
            <hr>
            <h3>{{ object.text }}</h3>
            <hr>
            <sign>
                <p><p>Автор: <a class="user" href="{% url 'authapp:users_profile' pk=object.user_id %}">{{ object.user }}</a>
                    <p> at {{ object.time }}</p>
            </sign>

            <h3 class="right">Likes: {{ object.count_likes }}
            <p><a href="{% url 'mainapp:like_post' pk=object.pk %}">Лайк</a></p>
            </h3>
                {% if user.is_authenticated %}
                    <cntr><p>Напишите комментарий:</p></cntr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ comment_form.text }}
                        <p><input type="hidden" name="user" id="id_user" value="{{ request.user.pk }}"></p>
                        <p><input type="hidden" name="post" id="id_post" value="{{ object.pk }}"></p>
                        <p><input type="submit" value="Отправить"></p>
                    </form>
                {% endif %}
        </div>

        <h2><p>Comments:</p></h2>
        {% for comment in comments %}
            <form>
                <h3 class="left"><p>{{ comment.user }}</p></h3>
                <p>Time: {{ comment.time }}</p>
                <hr>
                <p>{{ comment.text }}</p>
            </form>
        {% endfor %}
    </div>
{% endblock %}