<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post list</title>
</head>
<body>
    <div class="content">
        {% if user.is_authenticated %}
            <p>{{ user.username }}</p>
            <a href="{% url 'authapp:logout' %}">Logout</a>
            <hr>
        {% else %}
            <a href="{% url 'authapp:login' %}">Login</a>
            <a href="{% url 'authapp:registration' %}">Registration</a>
        {% endif %}
        
        {% for post in object_list %}
            <p>{{ post.name }}</p>
            <p>{{ post.likes_set.all }}</p>
            <a href="{% url 'mainapp:post' pk=post.pk %}">Подробнее</a>
            <hr>
        {% endfor %}
    </div>
</body>
</html>