{% include "mainapp/includes/inc__menu.html" %}
{% block content %}
    <p>{{ object.name }}</p>
    <p>{{ object.text }}</p>
    <p>{{ object.time }}</p>
    <p>{{ object.user }}</p>
    <p>{{ object.is_active }}</p>
    <hr>
    <p>Likes: {{ object.count_likes }}</p>
    <a href="{% url 'mainapp:like_post' pk=object.pk %}">Лайк</a>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            {{ comment_form.text }}
            <input type="hidden" name="user" id="id_user" value="{{ user.pk }}">
            <input type="hidden" name="post" id="id_post" value="{{ object.pk }}">
            <input type="submit" value="Отправить">
        </form>
    {% endif %}
    {% for comment in object.comments_set.all %}
        <p>{{ comment.user }}</p>
        <p>{{ comment }}</p>
        <hr>
    {% endfor %}
{% endblock %}