{% extends "mainapp/root.html"%}
{% load static %}

{% block content %}
    {% include "mainapp/includes/inc__menu.html" %}

    {% block css %}
        <link href="{% static 'styles/auth.css' %}" rel="stylesheet">
    {% endblock %}

    <div class="auth">
        <form class="big" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Тема:</label>
            {{ form.name }}
            <br>
            <label>Изображение:</label>
            {{ form.img }}
            <label>Текст:</label>
            {{ form.text }}
            <br>
            <!-- is_active -->
            <label>Черновик:</label>
            {{ form.is_active }}
            <br>
            <input type="submit" value="Update">
        </form>
    </div>
{% endblock %}